window#waybar {
  background-color: @wb-d-bg;
  color: @wb-d-txt;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 0;
}

.modules-left > widget:nth-child(n+3) > * {
  margin-right: 0.25rem;
}

.modules-right {
  margin-right: 0.5rem;
}

.modules-right > widget > * {
  margin: 0.25rem 0.25rem;
}