/* COLORS */
@define-color yellow #d79921;
@define-color yellow-s #fabd2f;
@define-color aqua #689d6a;
@define-color aqua-s #8ec07c;
@define-color blue #458588;
@define-color blue-s #83a598;
@define-color magenta #b16286;
@define-color magenta-s #d3869b;
@define-color red #cc241d;
@define-color red-s #fb4934;
@define-color orange #d65d0e;
@define-color orange-s #fe8019;
@define-color green #98971a;
@define-color green-s #b8bb26;
@define-color gray #928374;
@define-color black #282828;
@define-color white #bdae93;

/* ACCENT COLORS */
@define-color primary @green;
@define-color primary-s @green-s;
@define-color secondary @yellow;
@define-color secondary-s @yellow-s;

/* BACKGROUND & FOREGROUND */
@define-color background #1d2021;
@define-color background-s #fbf1c7;
@define-color foreground #ebdbb2;
@define-color foreground-s #141a24;

/* WAYBAR */
@define-color wb-background alpha(@background, 0.5);
@define-color wb-text @foreground;

/* START MENU */
@define-color st-background @primary;
@define-color st-bar @primary;

/* WORKSPACES BUTTONS */
@define-color wsb-text @foreground;
@define-color wsb-text-hover @primary;
@define-color wsb-text-active @primary;
@define-color wsb-background-active @foreground-s;
@define-color wsb-background-urgent @red;
@define-color wsb-border-hover @primary-s;
@define-color wsb-border-active @primary-s;
@define-color wsb-border-urgent @red-s;

/* SPECIAL WORKSPACES BUTTONS */
@define-color wss-text lighter(@foreground-s);
@define-color wss-text-active @secondary;
@define-color wss-text-hover @secondary;
@define-color wss-background @background;
@define-color wss-background-active @foreground-s;
@define-color wss-border @secondary-s;
@define-color wss-border-hover @secondary-s;
@define-color wss-border-active @secondary-s;

/* MODULES */
@define-color md-background @foreground-s;
@define-color md-border @background;
@define-color md-info-border-up @background;
@define-color md-info-border-left @background;
@define-color md-info-border-down @background-s;
@define-color md-info-border-right @background;

/* MPRIS */
@define-color md-mpris-text-playing lighter(@green);
@define-color md-mpris-text-paused @green;
@define-color md-mpris-border-playing lighter(@green-s);
@define-color md-mpris-border-paused @green-s;

/* MEMORY */
@define-color md-memory-text @aqua;
@define-color md-memory-border @aqua-s;
@define-color md-memory-warning-text @yellow;
@define-color md-memory-warning-border @yellow-s;
@define-color md-memory-critical-text @red;
@define-color md-memory-critical-border @red-s;