#workspaces button {
    color: @wsb-d-txt;
    transition: 0.3s;
    font-size: 1.2rem;
    margin: 0.25rem 0.125rem;
    padding: 0 0.5rem;
}

#workspaces button:hover {
    color: @wsb-d-txt-hover;
    background: none;
    box-shadow: inset 0 0 0 1px @wsb-d-border-hover;
    text-shadow: none;
}

#workspaces button.active {
    color: @wsb-d-txt-active;
    background-color: @wsb-d-bg-active;
    box-shadow: inset 0 0 0 2px @wsb-d-border-active;
}

#workspaces button.urgent {
    background-color: @wsb-d-bg-urgent;
    box-shadow: inset 0 0 0 2px @wsb-d-border-urgent;
}

#workspaces button.special {
    color: @wss-d-txt;
}

#workspaces button.special:not(.active):hover {
    color: @wss-d-txt-hover;
    box-shadow: inset 0 0 0 1px @wss-d-border-hover;
}

#workspaces button.special.active {
    color: @wss-d-txt-active;
    background-color: @wss-d-bg-active;
    box-shadow: inset 0 0 0 2px @wss-d-border-active;
}
