#workspaces button {
    color: @wsb-text;
    transition: 0.3s;
    font-size: 1.2rem;
    margin: 0.25rem 0.125rem;
    padding: 0 0.5rem;
}

#workspaces button:hover {
    color: @wsb-text-hover;
    background: none;
    box-shadow: inset 0 0 0 1px @wsb-border-hover;
    text-shadow: none;
}

#workspaces button.active {
    color: @wsb-text-active;
    background-color: @wsb-background-active;
    box-shadow: inset 0 0 0 2px @wsb-border-active;
}

#workspaces button.urgent {
    background-color: @wsb-background-urgent;
    box-shadow: inset 0 0 0 2px @wsb-border-urgent;
}

#workspaces button.special {
    color: @wss-text;
}

#workspaces button.special:not(.active):hover {
    color: @wss-text-hover;
    box-shadow: inset 0 0 0 1px @wss-border-hover;
}

#workspaces button.special.active {
    color: @wss-text-active;
    background-color: @wss-background-active;
    box-shadow: inset 0 0 0 2px @wss-border-active;
}
