@define-color bar-background-color rgba(40, 40, 40, 0.6);
@define-color text-base-color #ffffff;

@define-color selected-background-color #b8bb26;
@define-color selected-text-color #1d2021;
@define-color highlighted-background-color #3c3836;
@define-color highlighted-text-color #b8bb26;
@define-color highlighted-background-urgent #eb4d4b;

@define-color field-mpris-color rgba(152, 151, 26, 0.8);
@define-color field-mpris-spotify-color rgba(29, 185, 84, 0.8);
@define-color field-mpris-firefox-color rgba(214, 93, 14, 0.8);
@define-color field-disk-color rgba(152, 151, 26, 0.8);
@define-color field-memory-color rgba(104, 157, 106, 0.8);
@define-color field-network-connected-color rgba(69, 133, 136, 0.8);
@define-color field-network-disconnected-color rgba(204, 36, 29, 0.8);
@define-color field-pulseaudio-volume-color rgba(69, 133, 136, 0.8);
@define-color field-pulseaudio-muted-color rgba(204, 36, 29, 0.8);
@define-color option-button-text-color #cc241d;
@define-color option-button-background-color rgba(28,28,28,0.2);
@define-color option-button-background-highlighted rgba(28,28,28,0.5);

* {
  font-family: "JetBrainsMono Nerd Font", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  border: none;
}

window#waybar {
  background-color: @bar-background-color;
  font-size: 12px;
  font-weight: bold;
  color: @text-base-color;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button,
#custom-exit,
#custom-nc {
  /* Use box-shadow instead of border so the text isn't offset */
  /* Avoid rounded borders under each button name */
  margin: 4px 2px;
  border-radius: 8px;
  padding: 0 4px;
  transition: 0.3s;
  color: @text-base-color;
}

#workspaces button.active {
  background-color: @selected-background-color;
  color: @selected-text-color;
}

#workspaces button.urgent {
  background-color: @highlighted-background-urgent;
}

#workspaces button:hover {
  color: @selected-text-color;
}

#custom-exit,
#custom-nc {
  background-color: @option-button-background-color;
  font-size: 16px;
  padding: 0 11px 0 8px;
  color: #cce0dd;
}

#custom-exit:hover,
#custom-nc:hover {
  background-color: @option-button-background-highlighted;
  color: @text-base-color;
}

#clock,
#battery,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpris {
  margin: 4px 0;
  border-radius: 8px;
}

#memory,
#disk,
#network,
#wireplumber,
#pulseaudio,
#mpris {
  padding: 0 12px;
}

#clock {
  padding: 0 4px;
}

#window,
#workspaces {
  margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
  margin-right: 0px;
}

.modules-right {
  margin-right: 4px;
}

/* If workspaces is the rightmost module, omit right margin */
/* .modules-right > widget:last-child > #workspaces {
  margin-right: 0;
} */

label:focus {
  background-color: #000000;
}

#mpris {
  background-color: @field-mpris-color;
}

#mpris.spotify,
#mpris.ncspot {
  background-color: @field-mpris-spotify-color;
}

#memory {
  background-color: @field-memory-color;
}

#disk {
  background-color: @field-disk-color;
}

#network {
  padding-left: 8px;
  background-color: @field-network-connected-color;
}

#network.disconnected {
  background-color: @field-network-disconnected-color;
}

#pulseaudio {
  background-color: @field-pulseaudio-volume-color;
}

#pulseaudio.muted {
  background-color: @field-pulseaudio-muted-color;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @highlighted-background-urgent;
}
