@define-color selected-background-color #b8bb26;
@define-color selected-text-color #1d2021;
@define-color highlighted-background-color #3c3836;
@define-color highlighted-text-color #b8bb26;
@define-color highlighted-background-urgent #eb4d4b;

@define-color field-mpris-color rgba(152, 151, 26, 0.8);
@define-color field-mpris-spotify-color rgba(29, 185, 84, 0.8);
@define-color field-mpris-firefox-color rgba(214, 93, 14, 0.8);
@define-color field-memory-color rgba(104, 157, 106, 0.8);
@define-color field-network-disconnected-color rgba(204, 36, 29, 0.8);
@define-color field-wireplumber-volume-color rgba(69, 133, 136, 0.8);
@define-color field-wireplumber-muted-color rgba(204, 36, 29, 0.8);
@define-color button-special-workspace-bg rgba(0,0,0,0.2);
@define-color button-special-workspace-border rgba(0,0,0,0.5);
@define-color option-button-text-color #cc241d;
@define-color option-button-background-color rgba(0,0,0,0.5);
@define-color option-button-background-highlighted rgba(0,0,0,0.9);

* {
  font-family: "JetBrainsMono Nerd Font Propo", sans-serif;
  border: none;
  border-radius: 0.5rem;
}

@import "styles/colors.css";
@import "styles/bar.css";
@import "styles/start.css";
@import "styles/workspaces.css";

#custom-session,
#network,
#custom-nc {
  /* Use box-shadow instead of border so the text isn't offset */
  /* Avoid rounded borders under each button name */
  transition: 0.3s;
  font-size: 1rem;
  color: @wb-d-txt;
}

#custom-session,
#custom-nc {
  background-color: @option-button-background-color;
  padding: 0 8px;
  color: #cce0dd;
}

#custom-session:hover,
#custom-nc:hover {
  background-color: @option-button-background-highlighted;
  color: @wbd-txt;
}

#memory,
#clock,
#network,
#wireplumber,
#mpris {
  padding: 0 8px;
}

#tray {
  padding: 0 8px;
  background-color: @option-button-background-color;
}

#clock,
#network {
  font-size: 0.9rem;
  background-color: @option-button-background-color;
}

#mpris {
  background-color: @field-mpris-color;
}

#mpris.spotify,
#mpris.ncspot {
  background-color: @field-mpris-spotify-color;
}

#memory {
  background-color: @field-memory-color;
}

#wireplumber {
  background-color: @field-wireplumber-volume-color;
}

#wireplumber.muted {
  background-color: @field-wireplumber-muted-color;
}

#network.disconnected {
  color: @field-network-disconnected-color;
}
