* {
  font-family: "JetBrainsMono Nerd Font Propo", sans-serif;
  border: none;
  border-radius: 0.5rem;
}

@import "styles/colors.css";
@import "styles/bar.css";
@import "styles/start.css";
@import "styles/workspaces.css";
@import "styles/modules.css";
