@define-color bar-background-color rgba(40, 40, 40, 0.6);
@define-color text-base-color #ffffff;

@define-color selected-background-color #b8bb26;
@define-color selected-text-color #1d2021;
@define-color highlighted-background-color #3c3836;
@define-color highlighted-text-color #b8bb26;
@define-color highlighted-background-urgent #eb4d4b;

@define-color field-mpris-color rgba(152, 151, 26, 0.8);
@define-color field-mpris-spotify-color rgba(29, 185, 84, 0.8);
@define-color field-mpris-firefox-color rgba(214, 93, 14, 0.8);
@define-color field-memory-color rgba(104, 157, 106, 0.8);
@define-color field-network-disconnected-color rgba(204, 36, 29, 0.8);
@define-color field-wireplumber-volume-color rgba(69, 133, 136, 0.8);
@define-color field-wireplumber-muted-color rgba(204, 36, 29, 0.8);
@define-color option-button-text-color #cc241d;
@define-color option-button-background-color rgba(0,0,0,0.5);
@define-color option-button-background-highlighted rgba(0,0,0,0.9);

* {
  font-family: "JetBrainsMono Nerd Font Propo", sans-serif;
  border: none;
}

window#waybar {
  background-color: @bar-background-color;
  font-size: 12px;
  font-weight: bold;
  color: @text-base-color;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button,
#custom-exit,
#network,
#custom-nc {
  /* Use box-shadow instead of border so the text isn't offset */
  /* Avoid rounded borders under each button name */
  border-radius: 8px;
  transition: 0.3s;
  font-size: 1rem;
  color: @text-base-color;
}

#workspaces button {
  margin: 4px 2px;
  padding: 0 4px;
}

#workspaces button.active {
  background-color: @selected-background-color;
  color: @selected-text-color;
}

#workspaces button.urgent {
  background-color: @highlighted-background-urgent;
}

#workspaces button:hover {
  color: @selected-text-color;
}

#custom-exit,
#custom-nc {
  background-color: @option-button-background-color;
  margin: 4px 0;
  padding: 0 8px;
  color: #cce0dd;
}

#custom-exit:hover,
#custom-nc:hover {
  background-color: @option-button-background-highlighted;
  color: @text-base-color;
}

#clock,
#memory,
#network,
#wireplumber,
#tray,
#mpris {
  margin: 4px 0;
  border-radius: 8px;
}

#memory,
#clock,
#network,
#wireplumber,
#mpris {
  padding: 0 8px;
}

#tray {
  margin: 4px 0;
  padding: 0 8px;
  background-color: @option-button-background-color;
}

#clock,
#network {
  margin: 4px 0;
  font-size: 0.9rem;
  background-color: @option-button-background-color;
}

#window,
#workspaces {
  margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
  margin-right: 0px;
}

.modules-right {
  margin-right: 4px;
}

/* If workspaces is the rightmost module, omit right margin */
/* .modules-right > widget:last-child > #workspaces {
  margin-right: 0;
} */

#mpris {
  background-color: @field-mpris-color;
}

#mpris.spotify,
#mpris.ncspot {
  background-color: @field-mpris-spotify-color;
}

#memory {
  background-color: @field-memory-color;
}

#wireplumber {
  background-color: @field-wireplumber-volume-color;
}

#wireplumber.muted {
  background-color: @field-wireplumber-muted-color;
}

#network.disconnected {
  color: @field-network-disconnected-color;
}
